{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'a.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
</head>
<body>
    <div class="menu">
        <form action="login" method="post">
            {% csrf_token %}
            <h1>Login</h1>
            <div class="input-box">
            <input type="text" placeholder="Username or email address" name="username">
            </div>
            <div class="input-box">
                <input type="password" placeholder="password" name="password">
                </div>
                <div class="Remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
                </div>
                <button type="Submit" class="btn">Login</button>
                <!--<div class="register-link">
               <p>Create a new account? <a href="#">Register</a></p>
                </div>-->
        </form>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>