{%block content%}

<form action="logup", method="POST">
    {% csrf_token %}
    <h1>enter company name=<input type="text", name="com_name"></h1>
    <h1>enter username=<input type="text", name="username"></h1>
    <h1>enter password=<input type="text", name="password"></h1>
    <h1>enter post=<input type="text", name="post"></h1>
    <h1>enter skills=<input type="text", name="skills"></h1>
    <h1>enter language=<input type="text", name="language"></h1>
    <h1>enter experience=<input type="text", name="experience"></h1>
    <h1>enter qualification=<input type="text", name="qualification"></h1>
    <h1>enter about=<input type="text", name="about"></h1>
    <input type="submit"><br>
</form>

{%endblock%}