{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'j.css' %}">
</head>
<body>
   <section class="container">
      <header>log up</header>
      <form action="logup" class="form" method="post">
         {% csrf_token %}
         <div class="input-box">
            <label>company Name</label>
            <input type="text" placeholder="Enter your company name" name="com_name">
         </div>

         <div class="input-box">
            <label>user Name</label>
            <input type="text" placeholder="Enter your username" name="username">
         </div>

         <div class="input-box">
            <label>password</label>
            <input type="password" placeholder="Enter your password" name="password">
         </div>

         <div class="input-box">
            <label>company-post</label>
            <input type="text" placeholder="Enter company-post" name="post">
         </div>

         <div class="input-box">
            <label>required-skill</label>
            <input type="text" placeholder="Enter your required-skill" name="skills">
         </div>

         <div class="input-box">
            <label>Language</label>
            <input type="text" placeholder="Enter you Language" name="language">
         </div>

         <div class="input-box">
            <label>experience</label>
            <input type="text" placeholder="Enter you experience" name="experience">
         </div>
         
         <div class="input-box">
            <label>Qualification</label>
            <input type="text" placeholder="Enter your qualification" name="qualification">
         </div>

         <div class="input-box">
            <label>about-portion</label>
            <input type="text" placeholder="Enter your about" name="about">
         </div>

         <div class="button">
            <button>Submit</button>
         </div>
      </form>
   </section>
</body>
</html>