{%block content%}

<form action="signup", method="POST">
    {% csrf_token %}
    <h1>enter name=<input type="text", name="name"></h1>
    <h1>enter username=<input type="text", name="username"></h1>
    <h1>enter password=<input type="text", name="password"></h1>
    <h1>enter qualification=<input type="text", name="qualification"></h1>
    <h1>enter skills=<input type="text", name="skills"></h1>
    <h1>enter language=<input type="text", name="language"></h1>
    <h1>enter experience=<input type="text", name="experience"></h1>
    <h1>enter personal_skills=<input type="text", name="personal_skills"></h1>
    <h1>enter email=<input type="text", name="email"></h1>
    <h1>enter phone=<input type="text", name="phone"></h1>
  
    
    
    <input type="submit"><br>
    

</form>
{%endblock%}