*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
     font-family: 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    background: url("https://d3kqdc25i4tl0t.cloudfront.net/articles/content/_536335_jobseeker.hero.jpg") no-repeat;
    background-size: cover;
}

.container{
    position: relative;
    max-width: 400px;
    width: 100%;
    background: black;
    padding: 25px;
    color:#fff;
    border-radius: 8px;
    box-shadow:rgb(0 0 0 .1) ;
}

.container header{
    text-decoration: underline;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: orange;
}

.container .form{
    margin-top: 30px;
}

.form .input-box{
    width: 100%;
    margin-top: 10px;
}

.input-box label{
    color: #333;
    font-size: 20px;
    text-align: center;

}

.form .input-box input{
    position: relative;
    height: 20px;
    width: 80%;

}

.container .button button{
    background-color:skyblue;
    border-radius: 8px;
    width: 70%;
    height: 30px;
    margin: 20px;
    color: black;
    font-size: 20px;
}

.container .input-box input{
    text-align: start;
    height: 20px;
    font-size: 15px;
}
